/* Estilos globais */

body {
    text-align: center; /* Centraliza o conteúdo dentro do body */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

.content {
    padding: 20px;
}

/* Estilos para imagem e vídeo */
.img {
    width: 100%;
    max-width: 560px;
    margin: 20px auto; /* Centraliza e adiciona espaçamento */
    display: block; /* Garante que cada elemento ocupe toda a largura disponível */
}

.img-icone-modal{
    width: 100px;
}

.iframe {
    width: 100%;
    max-width: 560px;
    height: auto;
    aspect-ratio: 16/9; /* Mantém a proporção de aspecto */
    margin: 20px auto; /* Centraliza e adiciona espaçamento */
    display: block; /* Garante que cada elemento ocupe toda a largura disponível */
}

/* Estilos para o texto */
h2, p {
    margin: 20px auto; /* Centraliza e adiciona espaçamento */
    max-width: 1000px; /* Limita a largura máxima do texto */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    
}

h2{
    font-weight: bold;
    font-size: 20px;
    color: black;
}

p {
    text-align: justify; /* Justifica o texto */
    background-color: #fff;
    color: black;
    padding: 15px;
    border-radius: 10px;
}

.botao-play{
    width: 20px;
}
/* Media Queries para diferentes tamanhos de tela */
/* Telas médias (576px) */
@media screen and (max-width: 400px) {
    .content {
        padding: 10px; /* Adiciona algum espaço interno para evitar que o conteúdo fique muito próximo das bordas */
    }

    .img, .iframe {
        width: 100%; /* Ajusta a largura para telas médias */
        max-width: none; /* Remove a largura máxima definida anteriormente */
    }

    h2, p {
        width: 100%; /* Ajusta a largura do texto para telas médias */
        max-width: none; /* Remove a largura máxima definida anteriormente */
    }
}

/* Telas grandes (992px) */
@media screen and (max-width: 992px) {
    .content {
        max-width: 992px; /* Limita a largura máxima do conteúdo para telas grandes */
        padding: 20px; /* Adiciona algum espaço interno */
        margin: 0 auto; /* Centraliza o conteúdo */
    }

    .img, .iframe {
        width: 100%; /* Ajusta a largura para telas grandes */
        max-width: 100%; /* Define a largura máxima como 100% */
    }

    h2, p {
        width: 100%; /* Ajusta a largura do texto para telas grandes */
        max-width: 100%; /* Define a largura máxima como 100% */
    }
}