body {
    text-align: center; /* Centraliza todo o conteúdo dentro do body */
}

.img{
    width: 560px;
    margin-bottom: 20px; /* Adiciona espaçamento abaixo da imagem */
}

h2, p, img, iframe {
    margin: 20px auto; /* Adiciona espaçamento em todas as direções */
    display: block; /* Garante que cada elemento ocupe toda a largura disponível */
}


p{
    width: 1000px;
    text-align: justify; /* Justifica o texto */
 
}